body {
  margin: 10px !important;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.work-together{
      margin: 49px 0px !important;
      background-color: rgb(5, 218, 104) !important;
}
.work-together .content .header{
  color: #fff !important;
}
.WithdrawFunds, .MyAccountButton{
  background-color: rgb(243, 16, 51) !important;
}
.WithdrawFunds .content .header, .MyAccountButton .content .header{
color: #fff !important;
}