form{
	margin: 20px;
}
.campaign-steps{
	    max-width: 50% !important;
	margin-top: 20px !important;
}
.campaign-ribbon{
	position: absolute !important;
}
.campaign-titles{
	display: list-item;
}
.campaign-cards div{
	display: inline-block;

	margin-right: 10px;
}