.MoneyEarnedButton .content .header, .MoneyEarnedButton .content .meta{
    position: relative;
    margin: auto;
    top: 40%;
}
.MoneyEarnedButton .content {
    padding: 0em 0em !important;
}